.inputBox {
    height: 5vh;
}

.gameButton {
    font-weight: bold;
    width: min(12vw, 80px);
    height: 5vh;
    font-size: min(3vw, 20px);
}

.darkBlue {
    background-color: #19447c;
    /* Even darker blue */
    border-color: #19447c;
    color: white;
}

.darkBlue:hover {
    background-color: #072658;
    color: white;
}